.fifteenten-admin-body h1 {
}

.fifteenten-admin-body .wrap {
  max-width: 900px;
}
.fifteenten-admin-body img {
  width: 100%;
}

.fifteenten-admin-body section {
  margin-bottom: 4rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.fifteenten-admin-body {
  padding: 2rem;
}

.image-preview-wrapper {
  margin-right: 2rem;
}

.fifteenten-admin-body ul {
  line-height: 2rem;
}
