/* ---------------------------
*
*
*
*  Cookie Consent
*
*
*
---------------------------- */
/* Popup Container Settings */
/* Both Buttons */
/* Accept */
/* Reject */
/* Cookies Popup */
/* line 46, cc.scss */
#cookie-popup > .btn-container {
  display: flex;
}

/* line 49, cc.scss */
#cookie-popup {
  font-size: 15px;
  opacity: 0;
  z-index: 9999;
  box-sizing: border-box;
  position: fixed;
  border: 1px solid black;
  border-radius: 2px;
  padding: 3em;
  color: black;
  background-color: #fff;
  max-width: 500px;
  height: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 1px 1px 10px 1px #3333;
  transition: opacity 1s, transform 1s;
  overflow-y: scroll;
  line-height: 1.5em;
}

#cookie-popup h2 {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: lighter;
}

/* line 68, cc.scss */
#cookie-popup a {
  color: #007aff;
}

/* line 74, cc.scss */
#cookie-popup a:hover {
  color: #444;
  text-decoration: underline;
}

#cookie-popup ul {
  margin: 3em 0 4rem 0;
}
#cookie-popup .cc__btn-container .cc__btn {
  background-color: #dcdcdc;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.5em;
  width: 100%;
  outline: 0;
  border: 0;
  margin-bottom: 1rem;
  font-size: 16px;
}
#cookie-popup .cc__btn-container .cc__btn--accept {
  background-color: #27282a;
  color: white;
  border-radius: 5px;
}

.fifteenten-popup-preview #cookie-popup {
  opacity: 1;
  display: block;
  position: relative;
  max-height: 600px;
}

.cc__preference_container {
  margin-bottom: 1em;
  display: flex;
}
.cc__preference_container label {
  display: inline-block;
}

.cc__toggle_holder {
  min-width: 50px;
  height: 26px;
  border-radius: 18px;
  background-color: #d7d7d7;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 1rem;
  cursor: pointer;
  opacity: 0.75;
}

.cc__toggle_holder:hover {
  opacity: 1;
}

.cc__toggle_circle {
  background-color: #fdfdfd;
  transform: translateX(0px);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: 300ms;
}

.cc__toggle_holder.cc__toggle--active {
  background-color: #007aff;
}

.cc__toggle_circle.cc__toggle--active {
  background-color: #e5e5e5;
  transform: translateX(22px);
  transition: 300ms;
}

.cc__checkbox {
  display: none !important;
}

.cc__toggle--essential {
  pointer-events: none;
  opacity: 0.25;
}

@media screen and (max-width: 600px) {
  /* line 115, cc.scss */
  #cookie-popup {
    max-height: 450px;
    margin: 1rem;
  }
}
