/* ---------------------------
*
*
*
*  Cookie Consent
*
*
*
---------------------------- */
/* Popup Container Settings */
/* Both Buttons */
/* Accept */
/* Reject */
/* Cookies Popup */
/* line 46, cc.scss */
#cookie-popup > .btn-container {
  display: flex;
}

/* line 49, cc.scss */
#cookie-popup {
  opacity: 0;
  text-align: center;
  z-index: 9999;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  border: 1px solid black;
  border-radius: 2px;
  margin: 1rem;
  padding: 2rem;
  color: black;
  background-color: #eee;
  max-width: 500px;
  right: 0;
  left: unset;
  box-shadow: 2px 2px 2px;
  transition: opacity 1s;
}

/* line 68, cc.scss */
#cookie-popup > a {
  display: block;
  text-decoration: underline;
  margin: 1rem 0rem;
  color: #111;
}

/* line 74, cc.scss */
#cookie-popup > a:hover {
  color: #444;
  text-decoration: underline;
}

/* line 79, cc.scss */
#cookie-popup > .btn-container {
  display: flex;
  justify-content: space-evenly;
}

/* line 84, cc.scss */
#cookie-popup input.btn {
  font-weight: 600;
  cursor: pointer;
  margin: 4px;
  flex: 1;
  border-radius: 2px;
  max-width: 200px;
  padding: 15px;
}

/* line 93, cc.scss */
#cookie-popup .btn {
  color: white;
  border: 4px solid #f0cb00;
  background-color: #f0cb00;
}

/* line 98, cc.scss */
#cookie-popup .btn:hover {
  color: 4px solid #f0cb00;
  color: #f0cb00;
  background-color: black;
}

@media screen and (max-width: 600px) {
  /* line 115, cc.scss */
  #cookie-popup {
    max-width: 100%;
  }
}

.fifteenten-popup-preview #cookie-popup {
  opacity: 1;
  display: block;
  position: relative;
}
